@import "../../../../../styles/utils/colors.scss";

.category {
    flex: 1;
    padding: 16px;
    max-width: 260px;
}

.title {
    font-size: 20px;
    color: $primaryColor;
    font-weight: 550;
}

.headerPanel {
    display: flex;
    justify-content: flex-end;
    padding: 16px;
}

.wrapper {
    border-radius: 20px;
    border: 1px solid $mainBackgroundColor;
    min-height: 77vh;
}

.content {
    background-color: $mainBackgroundColor;
    border-radius: 0px 0px 20px 0;
    flex: 1;
}