@use "../../styles/utils/colors.scss" as colors;

.card {
  border: 2px solid colors.$mainBackgroundColor;
  border-radius: 12px;
  background-color: colors.$mainBackgroundColor;
  flex: 1;
  color: colors.$primaryColor;

  &Header {
    display: flex;
    padding: 16px;
    border-radius: 12px 12px 0px 0px;
    justify-content: space-between;
    background-color: colors.$white;
  }

  .headerTitle {
    font-weight: 700;
    font-size: 24px;
    line-height: 30.62px;
  }

  .mainContent {
    display: flex;
    padding: 24px 16px;
    gap: 16px;
    flex-direction: column;
  }
}