@import "../../../../shared/styles/utils/colors.scss";

.card {
  border: 2px solid $mainBackgroundColor;
  border-radius: 12px;
  background-color: $mainBackgroundColor;
  flex: 1;
  color: $primaryColor;
  font-size: 20px;

  &Header {
    display: flex;
    padding: 16px;
    border-radius: 12px 12px 0px 0px;
    justify-content: space-between;
    background-color: $white;
  }

  .headerTitle {
    font-weight: 700;
    font-size: 24px;
    line-height: 30.62px;
  }

  .headerCount {
    font-weight: 400;
    font-size: 24px;
    line-height: 30.62px;

    span {
      font-weight: 700;
    }
  }

  .mainContent {
    display: flex;
    padding: 24px 16px;
    gap: 16px;
    flex-direction: column;
  }

  .indicatorContent {
    display: flex;
    justify-content: space-around;
  }

  .infoWrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;

    .indicatorWrapper {
      display: flex;
      gap: 8px;
      align-items: center;
    }
  }

  .indicator {
    width: 8px;
    height: 8px;
    border-radius: 50%;
  }

  .indicatorCounter {
    font-weight: 400;
    line-height: 25.52px;
    font-size: 20px;
  }

  .rangeWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}