@use "../../../shared/styles/utils/colors.scss" as colors;

.top {
  margin-bottom: 24px;
}

.topLogoWrapper {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;

  img {
    // width: 84px;
    // height: 40px;
  }

  svg {
    cursor: pointer;
    border-radius: 4px;
    width: 40px;
    height: 40px;

    // &:hover {
    //   background-color: colors.$mainBackgroundColorLight;
    // }
  }
}

.DropdownMenuContent {
  padding: 16px;
}

.AddProgramItem {
  margin-top: 8px;
  padding-top: 8px;
  border-top: 1px solid #CCCCCC;
}

.AddProgramButton {
  width: 100%;
  justify-content: center;
}

.Divider {
  border-bottom: 1px solid #CCCCCC;
}

.DropdownMenuItem {
  cursor: pointer;
  padding: 16px;
}

.activeItem {
  background-color: colors.$mainBackgroundColor;
}


.programName {
  font-size: 18px;
  padding-bottom: 16px;
  color: colors.$primaryColor;
  border-bottom: 0.5px solid #A3ABC3;
  display: flex;
  flex-direction: column;
  gap: 20px;
}