@use "../../styles/utils/colors.scss" as colors;

.category {
    flex: 1;
    padding: 12px 0 16px 0;
    max-width: 260px;
}

.title {
    font-size: 20px;
    color: colors.$primaryColor;
    padding: 16px;
    font-weight: 550;
    margin-bottom: 4px;
}

.headerPanel {
    display: flex;
    justify-content: flex-end;
    background-color: colors.$white;
    border-radius: 0px 20px 0px 0px;
    padding: 16px;
}

.wrapper {
    border-radius: 20px;
    border: 1px solid colors.$mainBackgroundColor;
    min-height: 77vh;
}

.content {
    background-color: colors.$mainBackgroundColor;
    border-radius: 0 20px 20px 0px;
}