@use "../../../../shared/styles/utils/colors.scss" as colors;

.wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.wrapper:hover,
.active {
  background-color: colors.$mainBackgroundColor;
}

.wrapper.secondary:hover,
.secondary.active {
  background-color: colors.$mainBackgroundColorLight;
}

.chip {
  border: 1px solid colors.$primaryColor;
  border-radius: 8px;
}