@import "../../../../shared/styles/utils/colors.scss";

.wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.wrapper:hover, .active {
  background-color: $mainBackgroundColor;
}

.chip {
  border: 1px solid $primaryColor;
  border-radius: 8px;
}