
.wrapper {
    display: flex;
    padding: 30px;
    gap: 36px;
    align-items: center;
    justify-content: space-between;
}

.searchWrapper {
    display: flex;
    gap: 36px;
    align-items: center;
}