@import "../../../../shared/styles/utils/colors.scss";

.wrapper {
    border: 1px solid $lightGray;
    font-size: 16px;
    max-width: 360px;
    padding: 16px;
    border-radius: 8px;
    gap: 8px;
    display: flex;
    flex-direction: column;
}

.title {
    color: $grayDark;
    font-weight: 565;
    font-size: 20px;
}

.label {
    text-wrap: nowrap;
    color: $grayDark;
    font-weight: 400;
    line-height: 18.96px;
}

.light {
    color: $lightBlue;
    text-wrap: pretty;
    word-wrap: break-word;
    max-width: 80%;
}

a.light {
    text-decoration: underline;
    max-width: 70%;
}